<div class="box">
  <h2 class="box-title">ポートフォリオ作成（２）商品と投資割合の選択</h2>
  <div class="box-inner">
    選択中の金融機関：<%= @security.name %><br><br>
    <%= form_for (@portfolio) do |f| %>
      <div class="form-group">
        <%= f.text_field :name, class: "form-control", placeholder: "ポートフォリオの名前" %>
      </div>

<%# 階層化で追加 %>

      <div class="field">
        <%= f.hidden_field :id %>
        <%= f.fields_for :constituents do |c| %>
          <%= render partial: "portfolios/constituent_form", locals: {c: c } %>
        <% end %>
      </div>

<%# 階層化で追加　終わり %>

      <div class="form-group">
        <%= f.text_field :purpose, class: "form-control", placeholder: "ポートフォリオの投資目的・方針" %>
      </div>

      <div class="submit-group">
        <%= f.submit "ポートフォリオを作成する", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>