<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>マイページ</h1>
    </section>
    <ul>
      <li>アカウント名：<%= @user.account_name %></li>
      <li>職業：<%= @user.job %></li>
      <li>お住まい：<%= @user.location %></li>
      <li>誕生日：<%= @user.year %> / <%= @user.month %> / <%= @user.day %></li>
    </ul>
    <% if logged_in? && @user == current_user %>
      <p><%= link_to "登録情報を変更する", edit_user_path(@user) %></p>
    <% end %>
  </aside>
  <div class="col-md-8">
  </div>
</div>